@media (max-width:991px) {
	.mobile-search-box {
		display: block
	}
	.main-header .logo a img {
		width: 70%;
		display: block;
		margin: 0 auto
	}
	.cookcodesmenu_menu {
		display: block!important
	}
	.main-header {
		display: none!important
	}
	.cookcodesmenu_brand img {
		width: 70%
	}
	.video,
	.widget {
		margin: 30px 0
	}
	.slider-area .slider-content-area .form .row .col-lg-6 input {
		height: 40px;
		width: 100%
	}
	.slider-area .slider-content-area .form .row .col-lg-12 textarea {
		width: 100%;
		height: 70px
	}
	.slider-area .slider-content-area .form .row .col-lg-12,
	.slider-area .slider-content-area .form .row .col-lg-6 {
		padding: 0 15px
	}
	.slider-area {
		height: 600px!important;
		min-height: 600px!important
	}
	.main-header .header-right ul li .search-box span {
		right: -10px
	}
	.slider-area .slider-inner-content .image-slider .single-slide img {
		height: 600px
	}
}

@media (max-width:767px) {
	/*#pdz { padding: 0px!important }*/
	.cookcodesmenu_menu {
		display: block!important
	}
	.main-header {
		display: none!important
	}
	.cookcodesmenu_brand img {
		width: 70%
	}
	.slider-area .slider-content-area h2 {
		font-size: 30px
	}
	.slider-area .slider-content-area h2 {
		font-size: 30px
	}
	.slider-area .slider-content-area {
		top: 40px
	}
	.slider-area {
		height: 600px!important;
		min-height: 600px!important
	}
	.main-header .header-right ul li .search-box span {
		right: -10px
	}
	.slider-area .slider-inner-content .image-slider .single-slide img {
		height: 600px
	}
	.customer-review-area .reviw-slider .single-review .content {
		padding: 16px 0
	}
	.call-to-action-area {
		background: #00163e;
		padding: 50px 0;
		text-align: center
	}
}

@media (max-width:480px) {
	.customer-review-area .reviw-slider .single-review .image {
		width: 100%;
		background: #124bbc;
		border-radius: 5px;
		float: inherit;
		text-align: center;
		padding: 50px 0;
		margin: 0 0 20px 0;
		display: block
	}
	.customer-review-area .reviw-slider .single-review .content {
		padding: 0 15px;
		text-align: center
	}
	.slider-area .slider-content-area h2 {
		font-size: 30px
	}
	.slider-area .slider-content-area {
		top: 40px
	}
	.slider-area {
		height: 700px!important;
		min-height: 700px!important
	}
	.main-header .header-right ul li .search-box span {
		right: 0
	}
	.slider-area .slider-inner-content .image-slider .single-slide img {
		height: 700px
	}
	.customer-review-area .reviw-slider .single-review .content {
		padding: 16px 0
	}
	.call-to-action-area {
		background: #00163e;
		padding: 50px 0;
		text-align: center
	}
	.slider-area .slider-content-area h2 {
		font-size: 24px
	}
	.mobile-search-box ul li {
		padding: 0 5px
	}
}

.problems-paginator {
	display: flex!important;
}

@media (max-width: 991px) {
	.fullwidth {
		width: 100%;
		text-align: center;
		font-size: large;
	}
	.text-xl {
		font-size: 4.25rem;
	}
	.text-xs {
		font-size: 3.75rem;
	}
}

@media (max-width: 720px) {
	body {
		min-width: 100%;
	}

/*welcome page*/
#paddingmv {
	text-align: left!important;
	padding-left: 15px!important;
}
#btntxts a{ font-size: 14px; }

	/*welcome page end*/
	.crclbgresp {
		height: 14px!important;
		width: 14px!important;
		margin-top: 6px!important;
		margin-left: -7px!important;
	}
	.markdown-body p {
		padding: 0 10px;
	}
	.ttlresp {
		padding-top: 15px;
		text-align: left!important;
		padding-left: 0px;
	}
	.markdown-body {
		font-size: 14px !important;
	}
	.markdown-body p {
		font-size: 14px !important;
	}
	.math span {
		font-size: 99%;
	}
	.v--modal-box {
		margin: 0 3%!important;
		top: 0px;
		left: 0px;
		width: 300px!important;
		height: auto;
		padding: 10px!important;
	}
	.ml-2 {
		margin-left: 0rem!important;
	}
	.v--modal-box label {
		text-align: left!important;
	}
	#homefonts {
		font-size: 19px!important;
		padding: 0 21px;
	}
	.serchfm { display: none; }
	/*.serchfm {
		padding: 0 5%;
	}*/
	.aboutpage p {
		padding: 0 5%!important;
		text-align: justify;
	}
	.termpage p {
		padding: 0 5%!important;
	}
	.termpage p,
	ol,
	li,
	strong {
		text-align: left!important;
		padding-bottom: 12px;
	}
	/*.serchfm input {
		font-size: 15px!important;
	}*/
	.logerr {
		font-size: 15px!important;
	}
	.text-xs {
		font-size: 15px!important;
	}
	.fpageresp h2 {
		padding-top: 10px;
		text-align: left;
		font-size: 16px!important;
		padding-left: 10px;
	}
	.rescrd {
		padding: 0px 10px!important;
		text-align: center!important;
		align-items: center;
		margin: 0px!important;
	}
	.w-1\/3 {
		width: 100%!important;
	}
	.booksimg {
		margin: 0px!important;
		margin-bottom: 2px;
	}
	.text-xl {
		font-size: 1rem!important;
	}
	.formres {
		display: flex!important;
		height: 45px!important;
		/*margin-left: 10px; margin-right: 10px;*/
	}
	.fa-search {
		padding: 0 10px!important;
	}
	.py-60 {
		text-align: center!important;
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.p-4 {
		/* padding: 0rem!important; */
	}
	.pl-60 {
		padding: 10px 40px!important;
	}
	.w-3\/5 h2 {
		font-weight: bold;
	}
	.w-3\/5 {
		width: 100%!important;
	}
	.items-left h2 {
		text-align: center;
		font-weight: bold;
		font-size: 20px!important;
	}
	.text-xl {
		font-size: 1rem!important;
		padding: 0 10px!important;
	}
	.lastsec {
		padding: 20px!important;
	}
	.w-full {
		margin: auto;
	}
	.container {
		max-width: 100%!important;
		padding: 0!important;
		margin: 0px!important;
	}
	.tracking-wide {
		/*	text-align: center;*/
		font-size: 14px!important;
		letter-spacing: 0em!important;
		line-height: 18px;
	}
	.search-input {
		margin: 0px!important;
	}
	.mt-1 {
		/*margin-top: auto!important;*/
		vertical-align: middle;
	}
	.mt-45 {
		text-align: center;
		margin-top: 25px!important;
	}
	.px-6 {
		padding-left: 0.7rem!important;
		padding-right: 0.7rem!important;
	}
	.py-3 {
		padding-left: 0.75rem!important;
		padding-right: .75rem!important;
		padding-top: 0.45rem!important;
		padding-bottom: .45rem!important;
	}

	/*.font-semibold {
		font-size: 14px!important;
		font-weight: 500!important;
	}*/
	.w-2\/5 img {
		padding: 0px;
		text-align: center;
		margin: auto;
		width: 150px!important;
		margin-bottom: 20px;
	}
	.w-2\/5 {
		width: auto!important;
	}
	.mr-6 {
		margin-bottom: 20px;
		text-align: center;
		align-items: center;
		width: auto;
		margin-right: 15px!important;
		margin-left: 15px!important;
	}
	.flex {
		display: block!important;
	}
	.vue-star-rating[data-v-34cbeed1] {
		display: block!important;
		padding: 10px 0px;
	}
	/*------------------------------------------------*/
	/*home page*/
	/*-----------------------------------------------------*/
	.topnav {
		overflow: hidden;
		background-color: #173753;
	}
	.topnav a {
		float: left;
		display: block;
		color: #f2f2f2;
		text-align: center;
		padding: 14px 30px;
		text-decoration: none;
		font-size: 17px;
	}
	.topnav .icon {
		display: none;
	}
	@media screen and (max-width: 720px) {
		.topnav a:not(:first-child) {
			display: none;
		}
		.topnav a.icon {
			float: right;
			display: block;
		}
		nav {
			padding: 0!important
		}
	}
	@media screen and (max-width: 720px) {
		.topnav.responsive {
			position: relative;
		}
		.topnav.responsive .icon {
			position: absolute;
			right: 0;
			top: 0;
		}
		.topnav.responsive a {
			float: none;
			display: block;
			text-align: left;
		}
	}
	.course-card {
		text-align: center !important;
		margin: 15px 10px;
	}
	.justify-center {
		text-align: center!important;
		justify-content: center;
	}
	/*--------------about-----------------*/
	.aboutsec {
		padding: 0 10px!important;
	}
	/*.responsive a{ text-align: left!important; }*/
	/*.justify-center{ text-align: left!important;
        align-items: left!important;

 }*/
	.textleftm {
		text-align: left!important;
		align-items: left!important;
	}
	/*---------------------------*/
	/*wiki*/
	/*-------------------------------*/
	.w-3\/4 {
		width: 100%!important;
		/*text-align: center;*/
	}
	element.style {
		min-height: 50vh!important;
	}
	/*span { font-size: 10px; }*/
	/*button { margin-bottom: 15px!important; }*/
	.bg-blue-lightest {
		min-height: 27vh!important;
		padding-top: 20px!important;
	}
	/*course*/
	.coursimg a {
		width: 100%!important;
	}
	.w-1\/2 {
		width: 100%;
		text-align: center;
		padding: 0px;
	}
	.bookinline {
		display: block!important;
	}
}
/*  mobile*/
  #mobileviewd { display: none; }
    #desktopviewd { display: block; }

  @media screen and (max-width: 720px) {
   #mobileviewd { display: block !important; }
   #desktopviewd { display: none !important; }

   }

/*end*/